<!-- ======= About Section ======= -->
<section id="about" class="about">
    <!-- ======= About Me ======= -->
    <div class="about-me container">
        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about me</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="../assets/images/about/profile.jpg" class="img-fluid responsive" alt="Personal Profile" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3 class="text-center">Full Stack Software Engineer | Remote 🇮🇪</h3>
                <p class="font-italic text-center">
                    I spend most of my time designing and developing innovative high-quality software and web-based solutions including desktop and mobile applications for individuals and businesses.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="icofont-rounded-right"></i>
                                <strong>Education: </strong>Bsc (Hons), H.Dip
                            </li>
                            <li>
                                <i class="icofont-rounded-right"></i>
                                <strong>Location: </strong>West of Ireland
                            </li>
                            <li id="age"></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="icofont-rounded-right"></i>
                                <strong>Current Employer: </strong>Self-Employed
                            </li>
                            <li>
                                <i class="icofont-rounded-right"></i>
                                <strong>Contract Availability: </strong
                ><a href="#contact" id="navigate">Get in Touch</a>
              </li>
              <li>
                <i class="icofont-rounded-right"></i>
                <strong>Current Status: </strong>Open to Opportunities
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="font-italic text-center">
                    I have 3+ years experience designing, developing and implementing web-based solutions while constantly upskilling on the latest technologies, techniques and frameworks. I am proficient with both Frontend and Backend development having experience working
                    with JSON & Restful API integration and with using most modern frameworks such as React, Angular, Laravel, and more.
                </p>
            </div>
        </div>
    </div>
    <!-- End About Me -->
    <!-- Statistics -->
    <div class="counts container">
        <div class="section-title">
            <h2>Statistics</h2>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="icofont-code"></i>
                    <span class="purecounter" data-purecounter-start="0" data-purecounter-end="" id="fe-experience"></span>
                    <p>Year's Frontend Experience</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="icofont-server"></i>
                    <span class="purecounter" data-purecounter-start="0" data-purecounter-end="" id="be-experience"></span>
                    <p>Year's Backend Experience</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="icofont-certificate-alt-1"></i>
                    <span class="purecounter" data-purecounter-start="0" data-purecounter-end="" id="ects-credits"></span>
                    <p>Total ECTS Credits Earned</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="icofont-globe"></i>
                    <span class="purecounter" data-purecounter-start="0" data-purecounter-end="" id="visitcount"></span>
                    <p>Site Visits Since January 2021</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Statistics -->
    <!-- Awards -->
    <div class="counts container">
        <div class="section-title">
            <h2>Awards</h2>
        </div>
        <hr />
        <div class="row" style="padding-bottom: 20px">
            <div class="col-lg-6 col-md-6">
                <div class="count-box">
                    <i class="icofont-award" style="color: gold"></i>
                    <p class="information">
                        Academic Achievement: Highest Grade &mdash; Business Process Modeling
                    </p>
                    <p class="hide">2019</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="icofont-award" style="color: gold"></i>
                    <p class="information">
                        Student of the Year Award &mdash; Occupational Health &amp; Safety
                    </p>
                    <p class="hide">2010</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Awards -->

    <!-- ======= Interests ======= -->
    <div class="interests container">
        <div class="section-title">
            <h2>Interests | Hobbies</h2>
        </div>
        <div class="row" style="padding-bottom: 20px">
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-map" style="color: #ffff"></i>
                    <h3>Hiking, Camping, Kayaking</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-wrench" style="color: #ffff"></i>
                    <h3>Reading, Automotive Repair, DIY</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-gym-alt-3" style="color: #ffff"></i>
                    <h3>Strength & Conditioning</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="icofont-book-alt" style="color: #ffff"></i>
                    <h3>Reading Technical Blogs</h3>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px">
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-code-alt" style="color: #ffff"></i>
                    <h3>Learning New Technologies</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-spinner-alt-3" style="color: #ffff"></i>
                    <h3>Keeping up with Best Practices</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-edit" style="color: #ffff"></i>
                    <h3>Creating Technical Documents</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="icofont-farmer" style="color: #ffff"></i>
                    <h3>Running my Family Farm Estate</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- End Interests -->
    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">
        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus
                            at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="../assets/images/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam
                            anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="../assets/images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="../assets/images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                            labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="../assets/images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                            culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="../assets/images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="owl-carousel testimonials-carousel"></div>
    </div>
    <!-- End Testimonials  -->
</section>
<!-- =======  End About Section ======= -->