<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Location</h3>
                    <p>💻 Remote | 🏡 West of Ireland ☘️</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Discover</h3>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/mogrady-professional/" class="linkedin" target="_blank"><i class="icofont-linkedin"></i
            ></a>
                        <a href="https://github.com/mogrady-personal" class="github" target="_blank"><i class="devicon-github-original"></i
            ></a>
                        <a href="https://github.com/mogrady-professional" class="github" target="_blank"><i class="devicon-github-original"></i
            ></a>
                        <a href="https://codepen.io/mog-dev" target="_blank"><i class="devicon-codepen-plain"></i
            ></a>
                        <a href="https://twitter.com/mog_prof" target="_blank"><i class="devicon-twitter-original"></i
            ></a>
                        <a href="https://open.spotify.com/user/316idtlscq3r54p5rsoqhla52yci" target="_blank"><img alt="spotify" class="spotify-icon" src="../assets/images/contact/Spotify_Logo_RGB_White.png" /></a>
                    </div>
                </div>
            </div>
        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                    <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" required />
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write a message for me" placeholder="Message" required></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message">Error</div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<!-- ======= End Contact Section ======= -->