<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2>Education | Experience</h2>
            <p> Resume Overview</p>
            <h3>Prefer the full C.V. Version? <a href="#contact">get in touch</a></h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Michael O'Grady</h4>
                    <h5>Personal Profile</h5>
                    <p><em>A young motivated post-graduate student passionate about technology and building innovative, high-quality software with an unmatched curiosity to learn and progress with 3+ years’ design and development experience and currently pursuing a H.Dip in Software Development.</em></p>
                    <h5>Full-Stack Development Experience</h5>
                    <p><em>Although my background is centered mostly around the LAMP stack, I have experience with frameworks such as .NET &amp; MVC design pattern. Recently, my work revolves around modern JavaScript frameworks such as React, Vue, &amp; Angular with a particular interest in 
                        PHP frameworks such as Laravel &amp; CodeIgniter, which compliment my prior knowledge of PHP. Regardless, I am a rapid learner &amp; believe in choosing the right technology stack for the job with an emphasis on rapid deployment, speeding up development time &amp; often learning on the job.</em></p>
                    <h5>Cloud Platform Experience</h5>
                    <p><em>I have extensive knowledge around cloud migrations and deployment of web applications specifically on Microsoft Azure and more recently, AWS. With modern applications moving serverless, I spend more time using Google Firebase and other similar scalable architectures.</em></p>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>H.Dip In Full-Stack Software Development<br>&nbsp;&mdash; First Class Honours</h4>
                    <!-- <a href="https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-software-development-ict" target="_blank"><i class="bx bx-link-external"></i></a></h4> -->
                    <h5>2020 - 2021</h5>
                    <p><em>Galway Mayo Institute of Technology, Galway, Ireland</em></p>
                    <p>Specialising in:</p>
                    <ul>
                        <li>Advanced Object Oriented Full-Stack Software Development in Desktop, Cloud, Web &amp; Mobile Applications.</li>
                    </ul>
                    <p>Other skills include: Network Technologies, Agile Software Development, Cloud, Web and Mobile Applications Development, Database Design &amp; Development, Computer Architecture and Technology Convergence, Operating Systems and Cloud
                        Computing, Computational Thinking with Algorithms and Advanced Object Oriented Software Development with an emphasis on Java, JavaScript, PHP and TypeScript.
                    </p>
                </div>
                <div class="resume-item">
                    <h4>BSc (Hons) Business Information Systems<br>&nbsp;&mdash; First Class Honours</h4>
                    <!-- <a href="https://www.gmit.ie/business-it/bachelor-science-hons-business-information-systems" target="_blank"><i class="bx bx-link-external"></i></a></h4> -->
                    <h5>2016 - 2020</h5>
                    <p><em>Galway Mayo Institute of Technology, Galway, Ireland</em></p>
                    <p>Specialising in:</p>
                    <ul>
                        <li>Dynamic Web &amp; Database Systems Development.</li>
                        <li>Cloud Infrastructure and Application Development.</li>
                        <li>Digital Marketing (inc PPC, SEO) &amp; Graphics Design</li>
                        <li>Business Analysis (BA), Intelligence (BI) &amp; Data Analytics.</li>
                    </ul>
                    <p>Other skills include: Project Management, Information Systems Development, Strategic Management, Business Analysis, Data Mining, Database Management Systems, Business Analytics, Data Modelling, Human Resource Management, Marketing,
                        Business Process Modeling, Visual & Multimedia Design, Business Communications, Supply Chain Management, Financial Accounting &amp; Intellectual Property Law.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Full-Stack Remote Software Engineer</h4>
                    <h5>2020 - present</h5>
                    <p><em>Self-Employed, Remote, Ireland</em></p>
                    <p>
                        <ul>
                            <li>Development of modern, cloud-native web applications built on the latest JavaScript and PHP frameworks such as React, Vue, Angular, Laravel, CodeIgniter and more.</li>
                            <li>Responsive, innovative &amp; scalable web development for both static &amp; dynamic websites and blogs with built-in Graphics Design, Digital Marketing &amp; SEO solutions.</li>
                            <li>Development of cutting-edge cloud based solutions on scalable-elastic architecture with modern web application hosting, migration of resources and integrations.</li>
                            <li>Development of modern full-stack software encompassing modern software frameworks and SDK's for the development of Desktop, Native, Mobile Web &amp; Hybrid Applications.</li>
                            <li>Integrations with REST / SOAP and other APIs for Google Maps, social media logins, payment processors, and other services.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Web Developer with KNM Consultants</h4>
                    <h5>2017 - 2020</h5>
                    <p><em>GMIT, Galway, Ireland</em></p>
                    <p>
                        <ul>
                            <li>Designed and developed a number of static and dynamic websites using HTML5, CSS3, JavaScript, Bootstrap &amp; jQuery.</li>
                            <li>Developed e-commerce and content management systems (CMS) based on the WordPress platform and implemented integrations with plugins such as WooCommerce, Mail Chimp and more.</li>
                            <li>Implemented digital marketing solutions and services by developing and designing marketing strategies for Social Media Marketing (SMM), Search Engine Marketing (SEM), PPC, SEO, Newsletter Automation and Content Creation.
                            </li>
                            <li>Increased web traffic and conversions for businesses through effective usage of Google Analytics and designing logos, graphics and media through the use of Adobe Photoshop &amp; Illustrator.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Microsoft Dynamics 365 CRM Support Consultant</h4>
                    <h5>January - August 2019</h5>
                    <p><em>Codec Ireland, Galway</em></p>
                    <p>
                        <ul>
                            <li>Primary support consultant working closely with three major clients resolving customer issues, developing custom integrations, resolving configuration issues &amp; developing system customisation's through a ticket based system
                                (Autotask.)</li>
                            <li>Instrumental member of a global support team engaging in fortnightly boardroom meetings in person and online through MS Teams internally with clients, colleagues and stakeholders and externally with Microsoft Engineers.</li>
                            <li>Managed and planned CRM upgrades for clients and created documentation to improve software upgrade processes on the Microsoft Dynamics 365 Platform.</li>
                            <li>Assisting clients in improving business processes in developing integrations with Sharepoint, PowerApps, Click Dimensions, Portals &amp; lead generation tools.</li>
                            <li>Managed multiple projects and continuous self-directed learning at a given time in a fast-paced working environment under pressure &amp; time constraints.</li>

                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ======= End Resume Section ======= -->