<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Home</h2>
            <p>Welcome to my Personal Website</p>
            <h3>An overview of my passions, interests, projects &amp; skills</h3>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4>
                        <a href="#Cloud_Solutions_Development">Cloud Solutions Development</a
            >
          </h4>
          <p>
            Development of cutting-edge
            <strong>Cloud Based Solutions</strong> on scalable-elastic
            architecture with modern<strong> Web Application Hosting</strong
            >,<strong> Migration of Resources </strong> and
            <strong>Integrations</strong>.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-laptop"></i></div>
          <h4>
            <a href="#WDGDM">Web Design, Graphics &amp; Digital Marketing</a>
                    </h4>
                    <p>
                        Responsive, innovative &amp; scalable<strong>
              Web Development</strong
            >
            for both <strong>Static &amp; Dynamic</strong> websites and blogs with built-in <strong>Graphics Design</strong>,
                        <strong>Digital Marketing</strong> &amp;
                        <strong>SEO </strong>solutions.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-selection"></i></div>
                    <h4><a href="#DMAD">Desktop &amp; Mobile Software Development</a></h4>
                    <p>
                        Modern <strong>Full-Stack Software Development</strong> encompassing modern software frameworks and SDK's for the development of
                        <strong>Desktop, Native, Mobile Web</strong> &amp;
                        <strong>Hybrid Applications</strong>.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-clipboard"></i></div>
                    <h4>
                        <a href="#BASM">Business Analysis &amp; Strategic Management</a>
                    </h4>
                    <p>
                        Professional <strong>Business Analysis</strong> &amp;
                        <strong>Strategic Management</strong> tools, techniques, and initiatives for the formulation &amp; implementation of goals and objectives.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Services Section ======= -->