<!-- ======= Wordpress E-Commerce Site Section ======= -->
<section class="portfolio" id="codec">
    <div class="about-me container">
        <div class="section-title">
            <h2>Dynamic Website</h2>
            <p>Wordpress E-Commerce Site</p>
            <h4>
                <a href="#portfolio" id="navigate"><i class="icofont-rounded-right"></i
          ><strong>Back to portfolio</strong></a
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <img
          src="../../../assets/images/portfolio/projects/wordpress-cms/codec/5000px/codec.png"
          class="img-fluid"
          alt="Wordpress E-Commerce Project"
        />
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>About the Project</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <table class="project-table">
            <tr>
              <th>Client:</th>
              <td>Third Year College Project</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>2019</td>
            </tr>
            <tr>
              <th>Roles:</th>
              <td>Developer</td>
            </tr>
            <tr>
              <th>Technologies:</th>
              <td>Wordpress, Javascript, HTML, CSS</td>
            </tr>
          </table>
        </div>
        <div class="icon-box">
          <p>
            I developed this Wordpress E-Commerce Website for a college project
            between November and December as a Third year project for a module
            called Web Systems as part of a Bsc Hons in Business Information
            Systems in GMIT.

            <br /><br />The emphasis of this project centered around development
            of an E-Commerce Website on Wordpress and implementing an SEO plan
            to ensure traffic optimization to the website. The brief we were
            given asked us to replicate an existing live website as close as
            possible and to produce professional documentation as you would
            expect during of the Web Development process. For the purposes of
            this project, the website I had chosen was
            <a href="https://www.codec.ie/">Codec Ireland</a> - the I.T company I served my Internship with.<br /><br />The project report contained all you would expect from a web development project including: Introduction, Competitor
                Analysis, User Stories and Personas, Aims and Objectives , WordPress theme and plugin selection, SEO plan and strategy and Wireframes. The end solution comprises of a modern and sleek WordPress E-Commerce Website which is SEO friendly
                and incorperates lead generation tool through a popup plugin, subscription and contact form and also a fully functional shopping cart functionality.<br /><br /> Theme chosen is OceanWP, SEO tool used is Yoast SEO, WooCommerce shopping
                cart tool, Elementor page builder, Popup maker - lead generation tool, Mailchimp for WooCommerce for marketing campaigns and WPForms Lite - contact form builder. <br /><br />If you would like to check out this project and see it for yourself
                then visit..
                <a href="http://michaelogrady.x10host.com/codec/" target="_blank">http://michaelogrady.x10host.com/codec/</a
            >
            or watch the video below.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies Include</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-wordpress-plain-wordmark"></i>
          <h3>Wordpress</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <h3>HTML</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-css3-plain-wordmark colored"></i>
          <h3>CSS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-javascript-plain colored"></i>
          <h3>Javascript</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Images Row -->
  <div class="counts container">
    <div class="section-title">
      <h2>Project Images</h2>
    </div>
    <div class="row portfolio-container">
      <!-- Image 1 -->
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/images/portfolio/projects/wordpress-cms/codec/sample-image-psd.png"
            class="img-fluid project-details-media"
            alt="Gantt Chart"
          />
          <div class="portfolio-info">
            <p>Homepage Screengrab</p>
            <div class="portfolio-links">
              <a
                href="../../../assets/images/portfolio/projects/wordpress-cms/codec/details-page/homepage.jpg"
                data-gall="portfolioGallery"
                class="venobox"
                data-title="WordPress CMS — Codec Ireland Clone"
                ><i class="bx bx-zoom-in" title="View image"></i
              ></a>
        </div>
    </div>
    </div>
    </div>
    <!-- Image 1 -->
    <!-- Image 2 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/wordpress-cms/codec/seo-image-psd.png" class="img-fluid project-details-media" alt="Gantt Chart" />
            <div class="portfolio-info">
                <p>SEO Optimization with Yoast SEO</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/wordpress-cms/codec/details-page/seo.jpg" data-gall="portfolioGallery" class="venobox" data-title="SEO Optimization with Yoast SEO"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <!-- Image 3 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/wordpress-cms/codec/woo-commerce-image-psd.png" class="img-fluid project-details-media" alt="Gantt Chart" />
            <div class="portfolio-info">
                <p>WooCommerce Ecommerce Functionality</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/wordpress-cms/codec/details-page/shop.jpg" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    </div>
    </div>
    <!-- Images Row -->
    <!-- Video Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Videos</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Video 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/wordpress-cms/codec/details-page/video.png" class="img-fluid project-details-media" alt="Project Video" />
                    <div class="portfolio-info">
                        <p>Project Video</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=FEfRn8Qm8Wo" title="Project Video"><i class="bx bx-video" title="View video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 1 -->
        </div>
    </div>
    <!-- Video Row -->
</section>
<!-- ======= End Wordpress E-Commerce Site Section ======= -->