<!-- ======= The Dough Bros Project Section ======= -->
<section class="portfolio" id="doughbros">
    <!-- ======= Project Container ======= -->
    <div class="about-me container">
        <div class="section-title">
            <h2>Web Application</h2>
            <p>The Dough Bros Project</p>
            <h4>
                <a href="#portfolio" id="navigate"><i class="icofont-rounded-right"></i
          ><strong>Back to portfolio</strong></a
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <img
          src="../../../assets/images/portfolio/projects/backend/doughbros/1200px/doughbros.png"
          class="img-fluid project-details-media"
          alt="The Dough Bros Project"
        />
      </div>
    </div>
  </div>
  <!-- About The Project -->
  <div class="interests container">
    <div class="section-title">
      <h2>About the Project</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <table class="project-table">
            <tr>
              <th>Client:</th>
              <td>Final Year College Project</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>2020</td>
            </tr>
            <tr>
              <th>Roles:</th>
              <td>Developer, Solution Architect, Team Lead</td>
            </tr>
            <tr>
              <th>Technologies:</th>
              <td>ASP.NET | SQL | C# | Javascript | HTML | CSS</td>
            </tr>
          </table>
        </div>
        <div class="icon-box">
          <p>
            The Dough Bros Pizza Order, Delivery and Management System was
            another project I developed between March and April as a final year
            project for a module called Information Systems Development as part
            of a Bsc Hons in Business Information Systems in GMIT.<br /><br />
            The background to the project was that we were tasked with building
            an information system for a business using both Agile and Waterfall
            methodology to improve business processes and we were given freedom
            of choice to develop what we wanted. A report required to be
            developed alongside the practical build itself, the report consisted
            of an accurate representation of the developmental stages of a
            realistic software development project which included business
            analysis phases such as; Feasibility studies, Requirements
            catalog's, Functional/Non-functional requirements, Organisational
            Chart's, Context Diagrams, Use Case Diagram, Entity Relationship
            Diagram (ERD), Data Flow Diagram's (DFD 0, 1 &amp; 2), Business
            Process Model (BMP), Rich Picture, Sequence Diagrams, System
            Diagrams, Data Dictionary, Implementation plan and schedule in terms
            of Jira/Gantt Chart to include GDPR, training and change management
            and data governance. The build aspect required a working prototype
            of a system. I decided to keep the project as realistic, useful and
            practical as possible which is where the Pizza Order and Management
            System came into play. I decided to choose a real business (<a
              href="https://www.thedoughbros.ie/
             "
              >the Dough Bros</a
            >) as the use case, as they actually did not have any online pizza
            order or table reservation functionality.<br /><br />
            The project itself consisted of a Frontend website #azurewebapp
            connected to an #sqlserver connected to a #powerapp for the
            management of data and functions for a use case we developed
            called"Dough Bros" which is a popular and well respected and
            delicious 'dine-in' pizza restaurant based in Galway City, Ireland.
            The final project I developed is a ASP.NET web app website which
            provides an online presence for the company and allows new customers
            to order a pizza online by filling out a JavaScript form and
            submitting the form to our SQL Server hosted in Microsoft Azure. The
            order is submitted to the SQL server and the data (order and
            business information) is accessible and received by staff through a
            Microsoft PowerApp I developed for the staff to manage the orders.
            Further functionality exists on the PowerApp to manage other
            functions for the business such as managing reservations, the menu,
            costing and more, allowing centralised storage and accessability on
            the Azure Cloud. The final award was that of a first class honours
            result.<br /><br />
            If you would like to check out this project and test it out for
            yourself then visit
            <a href="http://doughbros.azurewebsites.net" target="_blank"
              >http://doughbros.azurewebsites.net/</a
            >
            and submit a pizza order!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies Include</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <h3>HTML</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-css3-plain-wordmark colored"></i>
          <h3>CSS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-javascript-plain colored"></i>
          <h3>Javascript</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-csharp-plain colored"></i>
          <h3>C#</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/powerapps.png"
            alt="PowerApps"
            height="30"
            width="45"
            class="svg"
          />
          <h3>Microsoft PowerApps</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/Web_Service_Color/App_Services.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure App Service</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/_Companies/icons8-azure.svg"
            alt="Azure Cloud"
            class="svg"
          />
          <h3>Azure Cloud</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/Databases_Service_Color/SQL_Databases.svg"
            alt="Azure SQL"
            class="svg"
          />
          <h3>SQL Server</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-dot-net-plain-wordmark colored"></i>
          <h3>.NET</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Images Row -->
  <div class="counts container">
    <div class="section-title">
      <h2>Project Images</h2>
    </div>
    <div class="row portfolio-container">
      <!-- Image 1 -->
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/images/portfolio/projects/backend/doughbros/gantt-image-psd.png"
            class="img-fluid project-details-media"
            alt="Gantt Chart"
          />
          <div class="portfolio-info">
            <p>Gantt Chart</p>
            <div class="portfolio-links">
              <a
                href="../../../assets/images/portfolio/projects/backend/doughbros/details-page/gantt-chart.png"
                data-gall="portfolioGallery"
                class="venobox"
                data-title="Dough Bros — Web Application Homepage"
                ><i class="bx bx-zoom-in" title="View image"></i
              ></a>
        </div>
    </div>
    </div>
    </div>
    <!-- Image 1 -->
    <!-- Image 2 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/backend/doughbros/dfd-image-psd.png" class="img-fluid project-details-media" alt="DFD Diagram" />
            <div class="portfolio-info">
                <p>DFD (Data Flow Diagram)</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/backend/doughbros/details-page/dfd.jpg" data-gall="portfolioGallery" class="venobox" data-title="DFD Diagram"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <!-- Image 3 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/backend/doughbros/requirements-image-psd.png" class="img-fluid project-details-media" alt="Sample page from the Requirements Catalog" />
            <div class="portfolio-info">
                <p>Sample page from Requirements Catalog</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/backend/doughbros/details-page/requirements-catalog.png" data-gall="portfolioGallery" class="venobox" data-title="Sample page from Requirements Catalog"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    </div>
    </div>
    <!-- Images Row -->
    <!-- Video Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Videos</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Video 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/project-video-psd.png" class="img-fluid project-details-media" alt="Project Video" />
                    <div class="portfolio-info">
                        <p>Project Video</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video"><i class="bx bx-video" title="View video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 1 -->
        </div>
    </div>
    <!-- Video Row -->
</section>
<!-- ======= End The Dough Bros Project Section ======= -->