<!-- ======= The Warehouse Gym Project - Local DBMS Section ======= -->
<section class="portfolio" id="TWHGB">
    <!-- ======= Project Container ======= -->
    <div class="about-me container">
        <div class="section-title">
            <h2>Database System</h2>
            <p>The Warehouse Gym Project - Local DBMS</p>
            <h4>
                <a href="#portfolio" id="navigate"><i class="icofont-rounded-right"></i
          ><strong>Back to portfolio</strong></a
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <img
          src="../../../assets/images/portfolio/projects/desktop/whg-rdbms/5000px/whg-rdbms.png"
          class="img-fluid"
          alt="The Warehouse Gym Project - Local DBMS"
        />
      </div>
    </div>
  </div>
  <!-- About The Project -->
  <div class="interests container">
    <div class="section-title">
      <h2>About the Project</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <table class="project-table">
            <tr>
              <th>Client:</th>
              <td>Final Year College Project</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>2019</td>
            </tr>
            <tr>
              <th>Roles:</th>
              <td>Developer, Team Lead</td>
            </tr>
            <tr>
              <th>Technologies:</th>
              <td>Oracle, Microsoft Access</td>
            </tr>
          </table>
        </div>
        <div class="icon-box">
          <p>
            I developed this database as part of a group project between October
            and November as a fourth year project for a module called
            Application Development. This project combines elements we learned
            from previous modules such as Database Management Systems and Data
            Modelling as part of a Bsc Hons in Business Information Systems in
            GMIT.<br /><br />
            The background to the project was that we were required to produce a
            Microsoft Access Database and a detailed specification for a small
            to medium sized company/organisation of our choice. The database
            specification included the following: Detailed Description of the
            Company and Purpose of Database, Mission Statement, Objectives of
            the Database, Rationale, Business Rules, List of Entities,
            Attributes, Assumptions, 1st, 2nd and 3rd Normal Form, List of fully
            Normalised Tables, Entity Relationship Diagram and Time Management
            Sheets. The project consisted of both professional documentation in
            terms of the production of a guidance document, technical report and
            practical implementation of the Database itself. <br /><br />
            The end product resulted in an attractive looking application which
            is easy to use and provides a lot of functionality such as password
            protected login (Macros), management panel allowing overview of
            membership and admission statistics, ability to create reports
            (Queries), add new members, employees, staff wages, add memberships
            to customer profiles, configure gyms and membership pricing, and
            clock in and out functionality for both staff and customers of the
            gym with a live member management area listing all the staff and
            customers in the gym. <br /><br />If you'd like to see the project
            in action, please watch the video below. If you'd like to request a
            copy of the database just get in touch with me.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies Include</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-oracle-original colored"></i>
          <h3>Oracle</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="./../../assets/images/logos/azure-icons/Microsoft_Access_2013_logo.jpg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Microsoft Access</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Images Row -->
  <div class="counts container">
    <div class="section-title">
      <h2>Project Images</h2>
    </div>
    <div class="row portfolio-container">
      <!-- Image 1 -->
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/images/portfolio/projects/desktop/whg-rdbms/database-cover.jpg"
            class="img-fluid project-details-media"
            alt="Gantt Chart"
          />
          <div class="portfolio-info">
            <p>DBMS Manual Cover</p>
            <div class="portfolio-links">
              <a
                href="../../../assets/images/portfolio/projects/desktop/whg-rdbms/database-cover.jpg"
                data-gall="portfolioGallery"
                class="venobox"
                data-title="DBMS Manual Cover"
                ><i class="bx bx-zoom-in" title="View image"></i
              ></a>
        </div>
    </div>
    </div>
    </div>
    <!-- Image 1 -->
    <!-- Image 2 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/desktop/whg-rdbms/details-page/entities.png" class="img-fluid project-details-media" alt="Gantt Chart" />
            <div class="portfolio-info">
                <p>Entities</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/desktop/whg-rdbms/details-page/entities.png" data-gall="portfolioGallery" class="venobox" data-title="Entities"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <!-- Image 3 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/desktop/whg-rdbms/details-page/staff.png" class="img-fluid project-details-media" alt="Gantt Chart" />
            <div class="portfolio-info">
                <p>Employee Clocking In Screen</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/desktop/whg-rdbms/details-page/staff.png" data-gall="portfolioGallery" class="venobox" data-title="Employee Clocking In Screen"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    </div>
    </div>
    <!-- Images Row -->
    <!-- Video Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Videos</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Video 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/desktop/whg-rdbms/details-page/project-video_psd.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Video</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=IW8xhuzzkxU" title="Project Video 1"><i class="bx bx-video" title="View video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 1 -->
        </div>
    </div>
    <!-- Video Row -->
</section>
<!-- ======= End The Warehouse Gym Project - Local DBMS Section ======= -->