<!-- ======= The Warehouse Gym Project - Cloud Migration Section ======= -->
<section class="portfolio" id="TWHG">
    <div class="about-me container">
        <div class="section-title">
            <h2>Web Application</h2>
            <p>The Warehouse Gym Project - Cloud Migration</p>
            <h4>
                <a href="#portfolio" id="navigate"><i class="icofont-rounded-right"></i
          ><strong>Back to portfolio</strong></a
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <img
          src="../../../assets/images/portfolio/projects/backend/doughbros/5000px/doughbros.png"
          class="img-fluid"
          alt="The Warehouse Gym Migration Project"
        />
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>About the Project</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <table class="project-table">
            <tr>
              <th>Client:</th>
              <td>Final Year College Project</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>2019</td>
            </tr>
            <tr>
              <th>Roles:</th>
              <td>Developer, Team Lead</td>
            </tr>
            <tr>
              <th>Technologies:</th>
              <td>ASP.NET | SQL | C# | Javascript | HTML | CSS</td>
            </tr>
          </table>
        </div>
        <div class="icon-box">
          <p>
            I developed this project between March and April as a final year
            project for a module called Cloud Infrastructure and Enterprise
            Services as part of a Bsc Hons in Business Information Systems in
            GMIT. The project consisted of the migration of a locally based
            database towards the Azure Cloud comprising both professional
            documentation and practical implementation. The project consists of
            a Frontend website #azurewebapp connected to an #sqlserver connected
            to 2x #powerapps for the management of data and functions for a use
            case I developed called"The Warehouse Gym" . The final project
            consists of a website which provides an online presence for the
            company and allows new customers to Join the gym by filling out a
            webform which in turn is submitted to our SQL server and accessible
            through the Microsoft PowerApp's for management by staff. Further
            functionality exists on the Microsoft PowerApp's to manage other
            functions for the gym such as customer admissions, staff salaries,
            membership management and more, allowing centralised storage and
            accessability on the Azure Cloud. <br /><br />The background to the
            project was that we were tasked with operating as a cloud computing
            consulting company for a client who seeked to migrate their existing
            locally hosted database to the cloud with a budget allocation of
            €10,000. A guidance report and a technical report were created to
            outline the special and key considerations unique to our client.
            Aspects covered in the reports range from security &amp; threat
            assessments, data migration considerations, costing and services,
            data security, reliability, maintainability, scalability,
            backup/restore and georeplication, integration with Microsoft and
            Azure ecosystems, pricing tiers, training and education, GDPR
            compliance, risk management and the steps outlining the development
            stages including the work involved. The final award was that of a
            first class honours result.<br /><br />If you would like to check
            out this project and see it for yourself then visit..
            <a href="http://warehousegym.azurewebsites.net/" target="_blank"
              >http://warehousegym.azurewebsites.net/</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies Include</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <h3>HTML</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-css3-plain-wordmark colored"></i>
          <h3>CSS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-javascript-plain colored"></i>
          <h3>Javascript</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-csharp-plain colored"></i>
          <h3>C#</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/powerapps.png"
            alt="PowerApps"
            height="30"
            width="45"
            class="svg"
          />
          <h3>Microsoft PowerApps</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/Web_Service_Color/App_Services.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure App Service</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/_Companies/icons8-azure.svg"
            alt="Azure Cloud"
            class="svg"
          />
          <h3>Azure Cloud</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../../../assets/images/logos/azure-icons/Databases_Service_Color/SQL_Databases.svg"
            alt="SQL Server"
            class="svg"
          />
          <h3>SQL Server</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="devicon-dot-net-plain-wordmark colored"></i>
          <h3>.NET</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Images Row -->
  <div class="counts container">
    <div class="section-title">
      <h2>Project Images</h2>
    </div>
    <div class="row portfolio-container">
      <!-- Image 1 -->
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img
            src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/manual-image-psd.png"
            class="img-fluid project-details-media"
            alt="Guidance and technical report document"
          />
          <div class="portfolio-info">
            <p>Guidance and technical report document</p>
            <div class="portfolio-links">
              <a
                href="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/screengrabs/database-cover-image.jpg"
                data-gall="portfolioGallery"
                class="venobox"
                data-title="Guidance and technical report document"
                ><i class="bx bx-zoom-in" title="View image"></i
              ></a>
        </div>
    </div>
    </div>
    </div>
    <!-- Image 1 -->
    <!-- Image 2 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/home-image-psd.png" class="img-fluid project-details-media" alt="Homepage Screengrab" />
            <div class="portfolio-info">
                <p>Homepage Screengrab</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/screengrabs/homepage.jpg" data-gall="portfolioGallery" class="venobox" data-title="Homepage Screengrab"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 2 -->
    <!-- Image 3 -->
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/webform-image-psd.png" class="img-fluid project-details-media" alt="Registration Web Form" />
            <div class="portfolio-info">
                <p>Registration Web Form</p>
                <div class="portfolio-links">
                    <a href="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/screengrabs/webform.jpg" data-gall="portfolioGallery" class="venobox" data-title="Registration Web Form — Warehouse Gym"><i class="bx bx-zoom-in" title="View image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image 3 -->
    </div>
    </div>
    <!-- Images Row -->
    <!-- Video Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Videos</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Video 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/project-video_psd.png" class="img-fluid project-details-media" alt="Project Video" />
                    <div class="portfolio-info">
                        <p>Code Walkthrough</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=Hy7YI7V-tSU" title="Project Video"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 1 -->
            <!-- Video 2 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/mobile-app-video_psd.png" class="img-fluid project-details-media" alt="Mobile App Video" />
                    <div class="portfolio-info">
                        <p>Mobile PowerApp Video</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=5xg7Ul75qNc" title="Mobile PowerApp Video"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 2 -->
            <!-- Video 3 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/warehousegym/details-page/desktop-app-video_psd.png" class="img-fluid project-details-media" alt="Desktop App Video" />
                    <div class="portfolio-info">
                        <p>Desktop PowerApp Video</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=vdSK_Oyre_Y" title="Desktop PowerApp Video"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 3 -->
        </div>
    </div>
    <!-- Video Row -->
</section>
<!-- ======= End The Warehouse Gym Project - Cloud Migration Section ======= -->