<!-- ======= Cloud Solutions Development Section ======= -->
<section class="portfolio" id="CSD">
    <div class="about-me container">
        <div class="section-title">
            <h2>Services</h2>
            <p>Cloud Solutions Development</p>
            <h4>
                <a href="#services" id="navigate"><i class="icofont-rounded-right"></i
          ><strong>Back to services</strong></a
        >
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <img
          src="../assets/images/portfolio/Services/csd/PKRIC81b.jpg"
          class="img-fluid"
          alt="Cloud Solutions Development"
        />
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>Technologies Include</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Compute Service Color/VM/VM.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Virtual Machine</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Databases_Service_Color/SQL_Servers.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>SQL Servers</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Databases_Service_Color/Azure_Database_(Generic).svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure Database</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Web_Service_Color/App_Services.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>App Services</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Mobile Service Color/Azure App Service - Mobile.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure App Service - Mobile</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/_Companies/WebAppWordPress.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>WordPress WebApp</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/Migrate Service Color/Azure Database Migration Services.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure Database Migration Services</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <img
            src="../assets/images/logos/azure-icons/DevOps Service Color/Azure DevOps.svg"
            alt="Azure App Service"
            class="svg"
          />
          <h3>Azure DevOps</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="interests container">
    <div class="section-title">
      <h2>About</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="icon-box">
          <p>
            Cloud computing is the on-demand availability of
            <strong>computer system resources</strong>, especially data storage
            (cloud storage) and computing power, without direct active
            management by the user as this is outsourced to the
            <strong>cloud provider</strong>. The term cloud computing is
            generally used to describe <strong>data centers</strong> available
            to many users over the Internet. <br /><br />
            Cloud computing allows companies to avoid or minimize up-front IT
            infrastructure costs allowing enterprises to get their applications
            up and running faster, with improved manageability and less
            maintenance, enabling IT resources to be adjusted to meet
            fluctuating and unpredictable demand such as during certain periods
            of peak demand requiring high computing power - this is refers to
            scalability. <br /><br />
            Cloud computing services have several common attributes:
            <strong>Virtualization</strong>&mdash; cloud computing utilizes
            server and storage virtualization extensively to allocate/reallocate
            resources rapidly. <strong>Multi-tenancy</strong> &mdash; resources
            are pooled and shared among multiple users to gain economies of
            scale. <strong>Network-access</strong> &mdash; resources are
            accessed via web-browser or thin client using a variety of networked
            devices (computer, tablet, smartphone).
            <strong>On demand</strong> &mdash; resources are self-provisioned
            from an online catalogue of pre-defined configurations.
            <strong>Elastic</strong> &mdash; resources can scale up or down,
            automatically. <strong>Metering/chargeback</strong> &mdash; resource
            usage is tracked and billed based on service arrangement.
            <br /><br />
            Among the many types of cloud computing services delivered
            internally or by third party service providers, the most common are:
            <strong>Software as a Service (SaaS)</strong> &mdash; software runs
            on computers owned and managed by the SaaS provider, versus
            installed and managed on user computers. The software is accessed
            over the public Internet and generally offered on a monthly or
            yearly subscription.<br />
            <strong>Infrastructure as a Service (IaaS)</strong> &mdash; compute,
            storage, networking, and other elements (security, tools) are
            provided by the IaaS provider via public Internet, VPN, or dedicated
            network connection. Users own and manage operating systems,
            applications, and information running on the infrastructure and pay
            by usage.<br />
            <strong>Platform as a Service (PaaS)</strong> &mdash; All software
            and hardware required to build and operate cloud-based applications
            are provided by the PaaS provider via public Internet, VPN, or
            dedicated network connection. Users pay by use of the platform and
            control how applications are utilized throughout their lifecycle<br />
            <strong>Mobile backend as a service (MBaaS)</strong>&mdash; also
            known as"backend as a service" is a model for providing web app and
            mobile app developers with a way to link their applications to
            backend cloud storage and APIs exposed by back end applications
            while also providing features such as user management, push
            notifications, and integration with social networking services.
            These services are provided via the use of custom software
            development kits (SDKs) and application programming interfaces
            (APIs). Providers of this service include: Azure, Firebase, AWS
            Amplify, Red Hat. <br /><br />
            Categories of the types of services available on the cloud include:
            Compute, Networking, Storage, Web, Mobile. Containers, Databases,
            Analtyics, Blockchain, AI+Machine Learning, Internet of Things
            (IOT), Mixed Reality, Integration, Identity, Security, DevOPS,
            Migrate, Monitor, Management &amp; Governance, Intune and more.
            <br /><br />
            To find out more about what you can
            <strong>deploy on the cloud</strong> or to hire me to
            <strong>develop your cloud based solution</strong>, just get in
            touch below.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="counts container">
    <div class="section-title">
      <h2>Project Images</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img
            src="../assets/images/portfolio/Services/csd/scalable-ecommerce-web-app.jpg"
            class="img-fluid project-details-media"
            alt="Gantt Chart"
          />
          <div class="portfolio-info">
            <p>Azure Schema</p>
            <div class="portfolio-links">
              <a
                href="../assets/images/portfolio/Services/csd/scalable-ecommerce-web-app.jpg"
                data-gall="portfolioGallery"
                class="venobox"
                data-title="Azure Schema"
                ><i class="bx bx-zoom-in" title="View Image"></i
              ></a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="../assets/images/portfolio/Services/csd/scalable-web-and-mobile-applications-using-azure-database-for-mysql.jpg" class="img-fluid project-details-media" alt="Gantt Chart" />
            <div class="portfolio-info">
                <p>System Architecture</p>
                <div class="portfolio-links">
                    <a href="../assets/images/portfolio/Services/csd/scalable-web-and-mobile-applications-using-azure-database-for-mysql.jpg" data-gall="portfolioGallery" class="venobox" data-title="System Architecture"><i class="bx bx-zoom-in" title="View Image"></i
              ></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <hr />
    <!-- Images Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Images</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Image 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Image 1</p>
                        <div class="portfolio-links">
                            <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View Image"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 1 -->
            <!-- Image 2 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Image 2</p>
                        <div class="portfolio-links">
                            <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View Image"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 2 -->
            <!-- Image 3 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Image 3</p>
                        <div class="portfolio-links">
                            <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View Image"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image 3 -->
        </div>
    </div>
    <!-- Images Row -->
    <!-- Video Row -->
    <div class="counts container">
        <div class="section-title">
            <h2>Project Videos</h2>
        </div>
        <div class="row portfolio-container">
            <!-- Video 1 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Video 1</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 1"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 1 -->
            <!-- Video 2 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Video 2</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 2"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 2 -->
            <!-- Video 3 -->
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                    <div class="portfolio-info">
                        <p>Project Video 4</p>
                        <div class="portfolio-links">
                            <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 4"><i class="bx bx-video"></i
              ></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video 3 -->
        </div>
    </div>
    <!-- Video Row -->
</section>
<!-- ======= End Cloud Solutions Development Section ======= -->