<!-- Images Row -->
<div class="counts container">
    <div class="section-title">
        <h2>Project Images</h2>
    </div>
    <div class="row portfolio-container">
        <!-- Image 1 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Image 1</p>
                    <div class="portfolio-links">
                        <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View image"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image 1 -->
        <!-- Image 2 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Image 2</p>
                    <div class="portfolio-links">
                        <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View image"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image 2 -->
        <!-- Image 3 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/booktec/400px/booktec.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Image 3</p>
                    <div class="portfolio-links">
                        <a href="../../../assets/images/portfolio/projects/backend/booktec/5000px/booktec.png" data-gall="portfolioGallery" class="venobox" data-title="Dough Bros Project Image"><i class="bx bx-zoom-in" title="View image"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image 3 -->
    </div>
</div>
<!-- Images Row -->
<!-- Video Row -->
<div class="counts container">
    <div class="section-title">
        <h2>Project Videos</h2>
    </div>
    <div class="row portfolio-container">
        <!-- Video 1 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Video 1</p>
                    <div class="portfolio-links">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 1"><i class="bx bx-video" title="View video"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video 1 -->
        <!-- Video 2 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Video 2</p>
                    <div class="portfolio-links">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 2"><i class="bx bx-video" title="View video"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video 2 -->
        <!-- Video 3 -->
        <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
                <img src="../../../assets/images/portfolio/projects/backend/doughbros/details-page/video.png" class="img-fluid project-details-media" alt="Gantt Chart" />
                <div class="portfolio-info">
                    <p>Project Video 4</p>
                    <div class="portfolio-links">
                        <a class="my-video-links" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=mOIUZg-b-fw" title="Project Video 4"><i class="bx bx-video" title="View video"></i
            ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video 3 -->
    </div>
</div>
<!-- Video Row -->