html,
body {

}

#particle-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background position: absolute;
    position: absolute;
    background-size: cover;
	z-index: 1;
	  background-repeat: no-repeat;
  background-attachment: fixed;
}
